/* Write your CSS here */
* {
  font-family: 'Roboto';
}

.course-card-container {
  display: flex;
  flex-direction: column;
  padding: 6px;
  /* max-width: 340px; */
  /* width:360px; */
}

.course-name-duration-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.duration-container {
  display: flex;
  flex-direction: row;
  color: #171f46;
}

.course-tags-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  list-style-type: none;
}

.course-title {
  color: #171f46;
  font-size: 22px;
  font-weight: 600;
}

.course-duration {
  color: #171f46;
  font-weight: 600;
}

.clock-icon {
  margin-top: 5px;
}

.course-desc {
  color: #1e293b;
  font-size: 16px;
  /* width:50%; */
  width: 400px;
}

.course-tags-list-container {
  max-width: 380px;
}

.course-tag {
  color: #1e293b;
  font-weight: 600;
  background-color: blanchedalmond;
  padding: 5px;
  border-radius: 4px;
}
